<h1>Tasks</h1>

<nb-card>
    <nb-card-header>
        <div class="flex-container">
            <div class="custom-search">
                <input type="text" nbInput fullWidth placeholder="Search tasks..." (input)="filterTasks($event)">
            </div>

            <button (click)="openTaskDialog(addOrUpdateDialog)" nbButton status="primary" type="button">
                + Nova Tarefa
            </button>
        </div>
    </nb-card-header>

    <nb-card-body style="padding: 0 !important;">
        <table id="tasks-table">
            <tr class="tasks-table-title">
                <th *ngFor="let column of columns">{{column}}</th>
            </tr>
            <tr *ngFor="let task of filteredTasks | paginate: { itemsPerPage: 20, currentPage: p }; index as i;"
                class="tasks-table-data" (click)="openTaskDialog(addOrUpdateDialog, task)">
                <td>{{task?.title}}</td>
                <td>{{task?.description}}</td>
                <td>{{task?.registerDate | date:'dd/MM'}}</td>
                <td>{{task?.expirationDate | date:'dd/MM'}}</td>
                <td class="tags"><nb-tag [text]="getStatusName(task.status)"
                        [status]="getStatusColor(task.status)"></nb-tag></td>
                <td>{{task?.responsible.name}}</td>
                <td>
                    <button nbButton (click)="openTaskDialog(addOrUpdateDialog, task)" status="success" type="button"
                        class="form-btn" ghost>
                        <nb-icon icon="edit-outline"></nb-icon>
                    </button>
                    <button nbButton (click)="openTaskDialog(deleteDialog)" status="danger" type="button"
                        class="form-btn" ghost>
                        <nb-icon icon="trash-outline"></nb-icon>
                    </button>
                    <ng-template #deleteDialog let-data let-ref="dialogRef">
                        <nb-card class="confirm-dialog">
                            <nb-card-header>Confirmação de Exclusão</nb-card-header>
                            <nb-card-body>
                                Confirma a exclusão da tarefa "{{task?.title}}"? Essa ação é irreversível.
                            </nb-card-body>
                            <nb-card-footer>
                                <button (click)="ref.close()" nbButton status="danger" type="button">
                                    Cancelar
                                </button>
                                <button (click)="deleteTask(task?.id); ref.close()" nbButton status="success"
                                    type="button">
                                    Sim, excluir
                                </button>
                            </nb-card-footer>
                        </nb-card>
                    </ng-template>
                </td>
            </tr>
        </table>

        <ng-template #addOrUpdateDialog let-data let-ref="dialogRef">
            <nb-card class="add-new-dialog">
                <nb-card-header>{{editing ? 'Atualizar' : 'Adicionar'}} Tarefa</nb-card-header>
                <nb-card-body>
                    <form [formGroup]="tasksForm">
                        <input type="text" nbInput fullWidth placeholder="Título da Tarefa" formControlName="title">

                        <textarea nbInput fullWidth rows="5" placeholder="Descrição da Tarefa"
                            formControlName="description"></textarea>

                        <div class="row">
                            <input nbInput [nbDatepicker]="datepicker" placeholder="Data de Expiração" formControlName="expirationDate">
                            <nb-datepicker #datepicker [min]="minDate" format="dd/MM/yyyy"></nb-datepicker>

                            <nb-select fullWidth placeholder="Status de Tarefa" formControlName="status">
                                <nb-option [value]="0">Pendente</nb-option>
                                <nb-option [value]="1">Em andamento</nb-option>
                                <nb-option [value]="2">Concluída</nb-option>
                            </nb-select>
                        </div>

                        <nb-select fullWidth placeholder="Responsável" formControlName="responsibleId">
                            <nb-option *ngFor="let responsible of taskResponsibles"
                                [value]="responsible.id">{{responsible.name}}</nb-option>
                        </nb-select>
                    </form>
                </nb-card-body>

                <nb-card-footer>
                    <button (click)="ref.close(); getTasks();" nbButton status="danger" type="button">
                        Fechar
                    </button>
                    <button [disabled]="tasksForm.invalid" (click)="addOrUpdateTask(); ref.close()" nbButton
                        status="success" type="button">
                        {{editing ? 'Atualizar' : 'Adicionar'}}
                    </button>
                </nb-card-footer>
            </nb-card>
        </ng-template>
    </nb-card-body>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</nb-card>