<nb-layout>

  <nb-layout-header *ngIf="activatedTab" fixed>
    <div class="">
      <img src="assets/images/logo_task.png" alt="Logo" class="logo_task" (click)="goToHome()">

      <!-- [picture]="user?.avatar || 'assets/images/default-avatar.png'" -->
      <nb-user [name]="user?.name || 'User'" [nbContextMenu]="contextMenuItems"
        nbContextMenuTag="my-context-menu"></nb-user>
    </div>
  </nb-layout-header>

  <nb-sidebar state="expanded" *ngIf="activatedTab">
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <span> Desenvolvido por <a href="https://www.linkedin.com/in/ramou1/">Ramon Oliveira</a>. </span>
  </nb-layout-footer>

</nb-layout>

<button [nbContextMenu]="contextMenuItems" [nbContextMenuPlacement]="position"></button>