<h2>Olá admin!</h2>

<div class="two-columns">
    <nb-card>
        <nb-card-header>
            <span class="document-name">
                Total de Usuários
            </span>
        </nb-card-header>

        <nb-card-body>
            <nb-icon icon="person-outline"></nb-icon>
            <span>50</span>
        </nb-card-body>
    </nb-card>

    <nb-card>
        <nb-card-header>
            <span class="document-name">
                Qtd. de Tarefas
            </span>
        </nb-card-header>

        <nb-card-body>
            <nb-icon icon="shopping-bag-outline"></nb-icon>
            <span>20</span>
        </nb-card-body>
    </nb-card>
</div>